<mat-toolbar color="primary">
  <span>
    <a routerLink="/">BearTrack</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button *ngIf="!userIsAuthenticated" routerLink='/login' routerLinkActive="mat-accent">Login</a>
    </li>
    <li>
      <a mat-button *ngIf="!userIsAuthenticated" routerLink='/signup' routerLinkActive="mat-accent">Sign Up</a>
    </li>
    <li>
      <a mat-button *ngIf="userIsAuthenticated" routerLink='/tracks/list' routerLinkActive="mat-accent">My Tracks</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogOut()">Log Out</button>
    </li>
  </ul>
</mat-toolbar>
