mat-form-field {
  width: 100%
}

mat-spinner {
  margin: auto;
}

mat-card {
  width: 80%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-element {
  margin: 0 auto;
  display: block;
}
