<h2 class="center font">Log In to BearTrack</h2>
<mat-card class="center-element">
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field class="font">
      <input
      matInput
      type="text"
      required
      minlength=2
      placeholder="Your Name (e.g. Oski)"
      #nameInput="ngModel"
      name="name"
      ngModel>
      <mat-error *ngIf="nameInput.invalid" class="font">Name must be at least 2 letters</mat-error>
    </mat-form-field>
    <mat-form-field class="font">
      <input
      matInput
      type="text"
      required
      pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
      placeholder="Your Valid U.S. Cell # (e.g. 123-456-7890)"
      #phoneInput="ngModel"
      name="phone"
      (input)="validatePhoneNo($event.target)"
      ngModel>
      <mat-error *ngIf="phoneInput.invalid">Phone number must be in xxx-xxx-xxxx format</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" class="center-element font">Log In</button>
  </form>
</mat-card>
