<h2 class="center">My Tracks</h2>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <mat-accordion *ngIf="(tracks.length > 0)">
    <mat-expansion-panel *ngFor="let track of tracks">
      <mat-expansion-panel-header>
        {{ track.course_code + " – " + track.semester}}
      </mat-expansion-panel-header>
      <p>{{ "Text me when the course is " + track.status }}</p>
      <mat-action-row *ngIf="userIsAuthenticated">
        <a mat-button color="primary" [routerLink]="['/']">EDIT</a>
        <button mat-button color="warn" (click)="onDeleteTrack()">DELETE</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p *ngIf="(tracks.length <= 0)" class="center">No Tracks!</p>
  <button mat-raised-button color="primary" [routerLink]="['/tracks/create']" class="center">Add a Track</button>
</div>
