<h2 class="center">My Tracks</h2>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<h3 *ngIf="!isLoading" class="center">BearTrack is keeping tabs on these classes for you:</h3>
<div *ngIf="!isLoading" class="spacer">
  <mat-accordion *ngIf="(tracks.length > 0)">
    <mat-expansion-panel *ngFor="let track of tracks">
      <mat-expansion-panel-header class="font">
        {{ track.course_code + " – " + track.semester}}
      </mat-expansion-panel-header>
      <p class="font">{{ "Text me when the course is " + track.status }}</p>
      <mat-action-row *ngIf="userIsAuthenticated">
        <!-- <a mat-button color="primary" [routerLink]="['/']">EDIT</a> -->
        <button mat-button color="warn" (click)="onDeleteTrack(track.id)" class="font">DELETE TRACK</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p *ngIf="(tracks.length <= 0)" class="center" class="font">You're not tracking any classes!</p>
  <button mat-raised-button color="primary" [routerLink]="['/tracks/create']" class="center-button font">Add a Track</button>
</div>
