<div class="center-me font">
  <!-- <h2>Do you hate having to keep tabs on a class you want to Phase 1 to make sure it will have an open seat for you when your enrollment time comes?</h2> -->
  <h2>Don't you hate it when you try to enroll in a class, but there aren't any spots available when your enrollment time comes?</h2>
  <h2>Wouldn't enrollment be less stressful if you didn't have to keep checking whether a class has an open seat?</h2>
  <h2>Sign up with BearTrack to get a text when that class has an open seat, so you don't have to check yourself!</h2>
  <button mat-raised-button color="primary" routerLink="/signup" class="font">Sign Me Up!</button>
</div>

<br>
<br>

<div class="center-me font">
  <h2><u>How it Works</u></h2>
  <ol>
    <li>Sign up with your name and cell phone number</li>
    <li>Tell BearTrack which class you want it track for you</li>
    <li>Get a text when that class is open or closed (you choose)</li>
  </ol>

  <br>
</div>
