<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onCreateTrack(trackForm)" #trackForm="ngForm" *ngIf="!isLoading">
    <p>Text me when</p>
    <mat-form-field appearance="fill">
      <mat-label>Course (e.g. COMPSCI 61A)</mat-label>
      <mat-select ngModel name="course" required>  <!-- this name is the attribute that appears in form.value -->
        <mat-option *ngFor="let course of courses" [value]="course">
          {{ course.course_code + " " + course.course_number + ": " + course.course_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p>offered in</p>
    <mat-form-field appearance="fill">
      <mat-label>Semester (e.g. Fall 2020)</mat-label>
      <mat-select ngModel name="semester" required>
        <mat-option *ngFor="let sem of semesters" [value]="sem">  <!-- [value] says which attribute which actually get submitted to the form -->
          {{ sem }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p>is</p>
    <mat-form-field appearance="fill">
      <mat-label>Status (e.g. Open)</mat-label>
      <mat-select ngModel name="status" required>
        <mat-option *ngFor="let s of statuses" [value]="s">  <!-- [value] says which attribute which actually get submitted to the form -->
          {{ s }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Create Track</button>
  </form>
</mat-card>
