<div class="center-me">
  <h3>Disclaimers</h3>
  <ul>
    <li>BearTrack considers a class as "Open" if <a href="http://classes.berkeley.edu" target="_blank">classes.berkeley.edu</a> reports the lecture as having open seats</li>
    <li>BearTrack considers a class as "Closed" if there are no open seats in the lecture according to <a href="http://classes.berkeley.edu" target="_blank">classes.berkeley.edu</a></li>
    <li>If BearTrack notifies you that there are open seats in a class, you may still not be able to enroll (due to reserve seat policy, course enrollment permissions, or holds on your enrollment)</li>
    <li>BearTrack pulls enrollment information every 5 minutes from the same database that backs <a href="http://classes.berkeley.edu" target="_blank">classes.berkeley.edu</a></li>
  </ul>
</div>
